.header {
  background-color: var(--backgord-color-hover);
}
.openIssue {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
}
.heading {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}
.closeIssue {
  color: #24292f;
  font-size: 14px;
  line-height: 21px;
  margin-right: 10px;
  font-weight: normal;
  cursor: pointer;
}
