* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.issue-wrapper {
  --color-border-default: #d0d7de;
  --backgord-color-hover: #f6f8f8;
  --color-fg-default: #24292f;
}
.issue-wrapper {
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
  margin: 50px;
}
.list-wrapper {
  height: 700px;
  overflow-y: scroll;
}
.loader {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
